.container {
    margin-top: var(--space-xxl);
}

.heading {
    margin-bottom: var(--space-m);
    padding-bottom: var(--space-m);
    border-bottom: var(--border-grey);
}

.entry {
    margin-bottom: var(--space-m);
}

.note {
    font-size: var(--font-size-l);
}
