.wrapper {
    flex: 1;
    position: relative;
}

.container {
    padding: var(--space-xxl);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    display: flex;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-l);
    flex-shrink: 0;
}

.name {
    text-align: center;
    margin-bottom: var(--space-xl);
}
