.container {
    padding: var(--space-xxl);
    display: flex;
    flex: 1;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-l);
}

.name {
    margin-bottom: var(--space-xl);
}
