.seconds {
    font-size: 130px;
    margin-bottom: var(--space-xxl);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.button {
    font-size: var(--font-size-xxxxl);
    color: rgb(41, 41, 41);
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: grey;
}

.stop-button {
    padding-left: var(--space-xxs);
    margin-left: var(--space-xxs);
    border-left: 2px solid rgb(245, 192, 192);
}
