.container {
    padding: var(--space-xxl);
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-xxl);
}

.topright {
    display: flex;
    gap: var(--space-l);
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin-bottom: var(--space-xl);
}
