.alert-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.185);
    position: fixed;
    inset: 0;
    animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
    backdrop-filter: blur(3px);
}

.alert-dialog-content {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: hsla(206, 22%, 7%, 0.35) 0px 10px 38px -10px, hsla(206, 22%, 7%, 0.2) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.alert-dialog-content:focus {
    outline: none;
}

.alert-dialog-title {
    color: #6e5494;
    margin: 0;
    font-weight: bold;
    font-size: var(--font-size-xl);
}

.alert-dialog-description {
    color: #7a6a8e;
    font-size: var(--font-size-m);
    margin: 10px 0 20px;
}

.trigger-button {
    font-size: var(--font-size-xl);
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.trigger-button:hover {
    color: rgb(189, 189, 189);
}

.confirm-buttons {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}

.cancel-button,
.delete-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-weight: bold;
    height: 35px;
    border: var(--border-grey);
    outline: none;
}

.delete-button {
    background-color: #ffdede;
    color: #ff2b2b;
}
.delete-button:hover {
    background-color: #ffd4d4;
}
.delete-button:focus {
    box-shadow: 0 0 0 2px #dd8b8b;
}
.delete-button:disabled {
    background-color: #ffd4d4;
    color: #ff9d9d;
    cursor: not-allowed;
}

.cancel-button {
    background-color: #ffd1fb;
    color: #7a6a8e;
}
.cancel-button:hover {
    background-color: #ffc2e4;
}
.cancel-button:focus {
    box-shadow: 0 0 0 2px #ddc3d2;
}

@keyframes overlay-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes content-show {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
